Repository sudeepac/Flask-Production-Template-For-AI: changes, and which pre-commit hooks are due for each by the changed paths.
All: blueprint-structure-check, url-prefix-check, python-encoding-pragma

blueprint-structure-check:
  name: Blueprint Structure Check
  entry: python scripts/check_blueprint_structure.py
  language: python
  pass_filenames: false

url-prefix-check:
  name: URL Prefix Consistency Check
  entry: python scripts/check_url_prefixes.py
  language: python
  pass_filenames: false

python-encoding-pragma:
  name: Python encoding pragma
  entry: python scripts/check_encoding.py
  language: python

docs: update project name to "Flask Production Template for AI" in all files
  .cursorrules
  .env.example
  .github/COPILOT_INSTRUCTIONS.md
  .gitignore
  CONTRIBUTING.md
  README.md
  TESTING.md
  app/__init__.py
  app/api_docs.py
  app/blueprints/api/__init__.py
  app/blueprints/api/resources.py
  app/blueprints/api/routes.py
  app/blueprints/health/__init__.py
  docker/README.md
  docs/error_handling_and_logging.md
  run_tests.py
  scripts/quickstart.ps1
  scripts/quickstart.sh
Due: blueprint-structure-check, url-prefix-check, python-encoding-pragma

feat(auth): implement authentication system with jwt
  app/blueprints/__init__.py
  app/blueprints/auth/__init__.py
  app/blueprints/auth/routes.py
  app/blueprints/examples/routes.py
  app/config_manager.py
  app/extensions.py
  app/models/example.py
  app/utils/security.py
Due: blueprint-structure-check, url-prefix-check, python-encoding-pragma

Fix style compliance issues and add missing docstrings
  .pre-commit-config.yaml
  app/config_manager.py
  app/schemas/v2/base.py
  app/services/example_service.py
  app/utils/__init__.py
  app/utils/logging_config.py
  app/utils/security.py
  scripts/check_style_compliance.py
  scripts/fix_specific_docstrings.py
  scripts/fix_style_issues.py
  scripts/onboard_developer.py
Due: python-encoding-pragma

Enhance developer onboarding script with quality tools integration
  scripts/onboard_developer.py
Due: python-encoding-pragma

Make codebase IDE-agnostic and fix code quality issues
  .cursorrules
  .dockerignore
  .gitignore
  .trae/rules/project_rules.md
  app/utils/decorators.py
  docs/code-quality-enforcement.md
  scripts/onboard_developer.py
  scripts/setup_dev_environment.py
Due: python-encoding-pragma

Fix pre-commit hooks circular loop issue
  .pre-commit-config.yaml
Due: none

Fix pre-commit hooks: resolve bandit and interrogate issues
  .pre-commit-config.yaml
  __template__/utils.py
  tests/integration/test_app_integration.py
  tests/unit/test_auth_routes.py
  tests/unit/test_extensions.py
Due: python-encoding-pragma

Fix Flask server startup: remove missing print_summary method call
  app/__init__.py
Due: python-encoding-pragma

Fix pre-commit configuration and resolve import issues
  .pre-commit-config.yaml
  app/blueprints/api/__init__.py
  app/blueprints/auth/__init__.py
  app/blueprints/examples/__init__.py
  app/blueprints/health/__init__.py
  app/utils/logging_config.py
  tests/integration/test_app_integration.py
  tests/performance/test_performance.py
  tests/unit/test_service_helpers.py
  tests/unit/test_services.py
Due: blueprint-structure-check, python-encoding-pragma

Path conditions:
  blueprint-structure-check: any of: ^app/blueprints/
  url-prefix-check: any of: ^app/(blueprints/.*routes\.py|urls\.py)$
  python-encoding-pragma: any of: \.py$, but not: ^(migrations/|__pycache__/)
